.post-select{
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px 5px 10px;
    background-color: var(--white);
}
.post-select:hover{
    transition: all 0.15s ease;
    background-color: #FFE2E5 !important;
    color: var(--danger);
}


.fluid-wrapper{
    width: 100%;
    position: relative;
}

.left-section{
    width: 67%;
    position: relative;
    float: left;
    margin-right: 20px;
}

.right-section{
    width: 24%;
    position: fixed;
    float: left;
    right: 30px;
    height: auto;
}

